*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-fw: 700;
    --primary-fs: 14px;
    --secondary-fw: 400;
    --primary-gradient-clr: hsl(6, 100%, 80%) , hsl(335, 100%, 65%);
    --neutral-pale-blue: hsl(243, 100%, 93%);
    --neutral-grayish-blue: hsl(229, 7%, 55%);
    --neutral-dark-blue: hsl(228, 56%, 26%);
    --neutral-very-dark-blue: hsl(229, 57%, 11%);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

progress {
    margin-top: 1rem;
    border-radius: 7px; 
    width: 100%;
    height: 20px;
}

progress::-webkit-progress-bar {
    background-color: var(--neutral-very-dark-blue);
    border: 3px solid var(--neutral-very-dark-blue);
    border-radius: 10px;
}
progress[value]::-webkit-progress-value {
    border-radius: 7px;
    background: radial-gradient(7px at 98%,white,white 6px,transparent),linear-gradient(to right, var(--primary-gradient-clr));
}

/*Mobile style*/
.App {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Raleway', sans-serif;
    font-size: var(--primary-fs);
    font-weight: var(--secondary-fw);
    color: var(--neutral-pale-blue);
    display: grid;
    place-items: center;
    background:  var(--neutral-very-dark-blue) url("./images/bg-desktop.png") no-repeat bottom /contain;
}

.App .container {
    width: min(90%, 70rem);
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    z-index: 99;
}

.InteractPanel {
    padding: 2rem;
    background-color: var(--neutral-dark-blue);
    width: 100%;
    max-width: 20rem;
    border-radius: 10px 5rem 10px 10px;
}

.InteractPanel .lists {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    list-style: none;
}

.InteractPanel .lists > li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    aspect-ratio: 1;
    border-radius: 10px;
    background-color: var(--neutral-very-dark-blue);
    cursor: pointer;
}

.InteractPanel .lists img{
    transition: 0.125s ease-in-out;
}

.InteractPanel .lists > li:hover > img{
    scale: 1.125;
}

.DataPanel {
    width: 100%;
    max-width: 40rem;
    background-color: var(--neutral-dark-blue);
    padding: 2rem;
    border-radius: 10px;
    position: relative;
}

.DataPanel .show-min-max {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
}

.DataPanel .cap-left {
    position: absolute;
    top: -20%;
    right: 5%;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: 10px;
    color: var(--neutral-very-dark-blue);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DataPanel .cap-left::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0%;
    border-top: 25px solid transparent;
    border-right: 25px solid white;
    border-bottom: 25px solid transparent;
}

.DataPanel .cap-left span {
    color: var(--neutral-grayish-blue);
    font-size: var(--primary-fs);
    margin-left: .5em;
}

@media screen and (max-width:800px) {
    .App {
        background-image: url("./images/bg-mobile.png");
        background-size: cover;
    }

    .App .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .DataPanel .cap-left::before {
        display: none;
    }

    .DataPanel .cap-left {
        top: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
  